body{
    background-color: rgb(211, 201, 201);
}
.black {
    color: black;
    
}
.red {
    color: red;
}
.blue {
    color: blue;
}
.red2 {
    color: red;
}
.green {
    color: #00461C;

}
.black2 {
    color: black;
}